<!-- Header Start -->
<header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <!-- header Nav Start -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">
              <img src="{{ site.baseurl }}/img/logo.png" alt="James Harper, PE">
            </a>
          </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ site.baseurl }}/">Home</a></li>
                  <!-- Intro, CV -->
                <li><a href="{{ site.baseurl }}/teaching.html">Teaching</a></li>
                  <!-- S (physics), T (Python, R), E (project-based engineering), M (math), English (ESL), Spanish-->
                <li><a href="{{ site.baseurl }}/research">Research</a></li>
                  <!-- FSM + decision-making -->
                <li><a href="{{ site.baseurl }}/engineering">Engineering</a></li>
                  <!-- General Atomics, Photothera, Quartus, Engineers Without Borders -->
                <li><a href="{{ site.baseurl }}/service">Service</a></li>
                  <!-- Mountain rescue, EMT -->
                <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
                  <!-- Cambodia -->
                <li><a href="{{ site.baseurl }}/contact">Contact</a></li>
                  <!-- Form, email, phone, WhatsApp -->
                <!-- <li><a href="#">Service</a></li> -->
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
      </div>
    </div>
  </div>
</header><!-- header close -->
