<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
            <li><a href="{{ site.baseurl }}/">Home</a></li>
            <li><a href="{{ site.baseurl }}/teaching">Teaching</a></li>
            <li><a href="{{ site.baseurl }}/research">Research</a></li>
            <li><a href="{{ site.baseurl }}/engineering">Engineering</a></li>
            <li><a href="{{ site.baseurl }}/service">Service</a></li>
            <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
            <li><a href="{{ site.baseurl }}/contact">Contact</a></li>
            <!-- <li><a href="#">Service</a></li> -->
            <!-- <li><a href="#">About Me</a></li> -->
            <!-- <li><a href="{{ site.baseurl }}/contact">Contact Me</a></li> -->
            <!-- <li><a href="#">How it works</a></li> -->
            <!-- <li><a href="{{ site.baseurl }}/blog">Blog</a></li> -->
            <!-- <li><a href="#">Terms</a></li> -->
          </ul>
        </div>
        <p>
          Copyright &copy; James Harper, PE 2019. All rights reserved.&nbsp; 
          Website design developed by <a href="http://www.themefisher.com">Themefisher</a>.
        </p>
      </div>
    </div>
  </div>
</footer>
